body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: greenyellow;
}

main {
    text-align: center;
}

.avatar {
    width: 200px;
    border-radius: 100%;
}

.sosmed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #232227;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

.sosmed-icon {
    width: 45px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.arrow img {
    width: 16px;
    height: 16px;
}

.sosmed:hover{
    background-color:aqua;
    color: aliceblue;
}